<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="client.js"></script>
    <title>Voting App</title>
</head>

<body>
    <div id="app">
        <div>
            <button @click="fetchNumCandidates">Get candidate count</button>
        </div>
        <div>
            <button @click="sumVotes">Get Total Votes</button>
        </div>
        <div>
            <label for="person">Person to vote for:</label>
            <input type="text" id="person" v-model="candidate">
            <button @click="recordVote">Vote for person</button>
        </div>

        <div>
            <label for="total">Person to find total:</label>
            <input type="text" id="total" v-model="candidate">
            <button @click="getCadidateTotal">Get Total</button>
        </div>

        <div>
            <label for="pass">Reset:</label>
            <input v-model="pass" type="password" id="pass">
            <button @click="reset">Submit</button>
        </div>

        <pre>{{feedback}}</pre>
    </div>

</body>

</html>